*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main{
    height: 100%;
    width: 100%;
}

#navbar{
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vw;
}

#navbar img{
    height: 45px;
}

#navbar-right{
    display: flex;
    gap: 40px;
}

#navbar-right h4{
    font-weight: 200;
    font-size: 16px;
    color: rgb(72, 72, 72);
}

#navbar-right span{
    color: grey;
    font-weight: 100;
    padding-left: 25px;
}

#categories{
    display: flex;
    gap: 40px;
    height: 5vh;
    align-items: center;
    padding: 0 4vw;
}

#categories p{
    text-transform: uppercase;
    letter-spacing: 0px;
    font-size: 14px;
}

#content{
    height: calc(100vh - 13vh);
    width: 100%;
}

#text-content{
     height: 45%;
     width: 100%;
     display: flex;
     flex-wrap: nowrap;
     overflow-x: auto;
}

#text-content::-webkit-scrollbar{
  background-color: transparent;
  height: 7px;
}

#text-content::-webkit-scrollbar-thumb{
    background-color: orange;

}

.elem{
    height: 100%;
    width: 60%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elem h1{
    font-size: 100px;
    font-weight: 100;
}

#img-content{
    height: 55%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

#img-content img{
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
}

#img-content::-webkit-scrollbar {
 display: none;
}

