/* Gsap Basics  */

/* #box{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(203, 237, 135);
} */


/* Gsap Timeline  */

/* html, body{
    height: 100%;
    width: 100%;
}

#box1{
    height: 200px;
    width: 200px;
    background-color: rgb(198, 232, 130);
}
#box2{
    height: 200px;
    width: 200px;
    background-color: rgb(250, 214, 105);
}
#box3{
    height: 200px;
    width: 200px;
    background-color: rgb(230, 111, 109);
} */



 /* GSAP Project */
*{
    margin: 0;
    padding: 0;
    color: white;
}

 body,html {
    height: 100%;
    width: 100%;
 }


 #main{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.903);
}

#nav{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-bottom: 20vh;
}

#nav #right{
    display: flex;
    gap: 20px;
}

#nav h3{
    font-size: 15px;
    font-weight: 500;

}

#main h1{
    font-size: 100px;
    font-weight: 500;
    margin-top: 5;
    width: 70%;
    margin-left: 15%;
    position: relative;
    z-index: 10;
}

#main h1:nth-child(3){
     text-align: center;
} 

#main h1:nth-child(4){
     text-align: center;
} 


img{
    height: 400px;
    position: absolute;
    top: 20%;
    left: 40%;
}


#img1{
    rotate: 20deg;
}

#img2{
    rotate: 10deg;
}





